
Software/__pycache__/ontology_wrapper.cpython-38.pyc
Software/sceme_code.txt
Software/__pycache__/file_interface.cpython-38.pyc
Software/__pycache__/node.cpython-38.pyc
Software/__pycache__/ontology_wrapper.cpython-37.pyc
Software/__pycache__/file_interface.cpython-37.pyc
Best-First-Search.png
Breadth-First-Search.png
company-querytemplate.PNG
director-querytemplate.PNG
heuristic equation.PNG
Iterative-Deepening-Search.png
Software/results.xlsx
Single-search-graph.PNG
